<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cloudscope.basic.module.role.mapper.RoleMapper">

    <!--实体类字段-->
    <sql id="RoleField">
        ${role}.id,
        ${role}.name
    </sql>

    <!--表名-->
    <sql id="RoleTable">
        ROLE
    </sql>

    <!--根据用户主键获取角色列表-->
    <select id="findRolesByUserKey" parameterType="Integer" resultType="Role">
        SELECT
            <include refid="RoleField">
                <property name="role" value="role"></property>
            </include>
        FROM
            <include refid="RoleTable"></include> role
        INNER JOIN 
            <include refid="UserUnionRoleMapper.UserUnionRoleTable"></include> rnu
        ON
            role.id = rnu.roleid
        WHERE
            rnu.userid = #{id}
    </select>

</mapper>